/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/******************* START OF CUSTOM SASS *******************/

$black: black;
$fullSize: 100%;

* {
  box-sizing: border-box;
}

html, body {
  width: $fullSize;
  height: $fullSize;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: $black;
}

h2 {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 10px;
}

h3 {
	font-size: 1.3em;
	color: $black;
	font-weight: 700;
	padding-bottom: 25px;
}

h4 {
  color: $black;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

p {
	color: black;
	font-size: 18px;
  line-height: 25px;
}

header {
  height: 700px;
  background-image: url(../img/header-image.jpg);
  background-position: 20% 10%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 90px;
    color: #f7f7f7;
  }

  h2 {
    font-weight: 300;
    color: #f7f7f7;
  }
}

.introduction {
  background-color: #f2f2f2;
  background-position: 20% 10%;
  background-size: cover;
  height: 500px;
	padding-left: 80px;
	padding-right: 80px;

  .intro-container {
    color: white;
    padding-bottom: 4%;

    img {
      float: left;
      width: 500px;
    	padding-right: 50px;
    }

    p {
    	width: 500px;
    	float: left;
    }
  }
}

.elements {
  width: $fullSize;
	background-color: white;
  padding-left: 80px;
	padding-right: 80px;

  .elements-container {
    padding-top: 50px;
    width: $fullSize;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

    h1 {
      font-size: 23px;
      text-align: center;
      font-weight: 700;
      padding-bottom: 30px;
    }

    p {
      font-size: 18px;
      width: 600px;
      text-align: center;
      line-height: 25px;
      margin: 0 auto;
      padding-bottom: 50px;
    }

    img {
      width: 600px;
      padding-bottom: 30px;
    }
  }
}

.best {
  background-color: #f2f2f2;
  height: auto;
  padding-left: 80px;
	padding-right: 80px;
}

.best-container img {
  width: 600px;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $fullSize;
  height: 50px;
  background-color: black;
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  header {
    padding-left: 20px;
    height: 400px;
    padding-top: 60px;

    h1 {
      font-size: 3em;
      line-height: 60px;
    }
  }

  .introduction {
    height: 750px;
    padding: 0;

    .intro-container {
      text-align: center;
      margin: 0 auto;
      padding-left: 0;

      img {
        float: none;
        padding: 0;
      }

      p {
        float: none;
        text-align: left;
        margin: 0 auto;
        padding-top: 10px;
      }
    }
  }

  .elements-container {
    p {
      width: 450px;
      text-align: left;
    }

    img {
      width: 450px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .best-container {
    width: 600px;
    margin: 0 auto;

    img {
      float: none;
    }
  }
}

@media only screen and (max-width: 800px) {

  .introduction {
    padding: 0;

    .intro-container {
      padding: 0;
      width: 400px;

      p {
        width: 400px;
      }

      img {
        padding: 0;
        width: 400px;
      }
    }
  }

  .elements-container {
    p {
      width: 400px;
      text-align: left;
    }

    img {
      width: 400px;
    }
  }


  .best {
    padding: 0;

    .best-container {
      width: 400px;
      margin: 0 auto;

      img {
        float: none;
        width: 400px;
        padding: 0;
      }
    }
  }


}
